<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout :: layout(~{::title}, ~{::section})"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      >
<head>
    <title>Shiksha: Evaluations</title>
</head>
<body>
<div layout:fragment="content">
    <script>

		function startEvaluation(evaluationID) {
			var url = '../exams/start-eval?evalId='+evaluationID;
			//url =formatURL(url);
			windowName = 'startEvaluation';
			var width = 900;
			var height = 610;
			var left = (screen.width - width) / 2;
			var top = (screen.height - height) / 2;
			left=100;
			top=40;
			width=screen.width - left*2;
			height=screen.height - top*2;
			var params = 'width=' + width + ', height=' + height;
			params += ', fullscreen=yes';
			params += ', location=no';
			params += ', menubar=no';
			params += ', top=' + top + ', left=' + left;
			/*params += ', top=' + top + ', left=' + left;
			params += ', location=no';
			params += ', menubar=no';
			params += ', resizable=no';
			params += ', scrollbars=no';*/
			console.log("screen.width: "+screen.width);
			console.log("screen.height: "+screen.height);
			console.log("left: "+left);
			console.log("top: "+top);
			console.log("Params: "+params);
			var thePopup = window.open(url, windowName, params);
			//openPopup(url, windowName, params)
			//openPopupOnTop(url, height, width);
			/* var IE  = (document.all) ? 1 : 0;
				if(IE) {
					var thePopup = window.open( url, windowName, params );
				} else {
					openPopupOnTop(url, height, width);
				} */
		}

	</script>
    <section>
        <div th:switch="${items}" class="container my-5">
            <div class="col-md-10">
                <h2 th:case="null">No exams yet!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
						<thead th:replace="/shiksha/fragments/tables.html
						              :: fields(~{ :: .myFields})">
							<tr class="myFields">
								<th>Name</th>
                                <th>Test</th>
							</tr>
						</thead>
                        <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.name}"></td>
                                <td><a th:onclick="startEvaluation([[${item.id}]])" class="btn btn-primary"><i class="fa fa-fighter-jet ml-2"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table class="table table-striped table-responsive-md" hidden="true">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Eval Group</th>
                                <th>Eval Version</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.evalGroup}"></td>
                                <td th:text="${item.evalEnv}"></td>
                                <td><a th:href="@{/items/edit/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/items/delete/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
