<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:fragment="layout(title, content)"
	>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title >Gurukul: Home</title>
    <title>Thymeleaf Fragments: home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/node_modules/@fortawesome/fontawesome-free/css/all.min.css}" crossorigin="anonymous">
    <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script lang="javascript">

		window.onload = function() {
			console.log('Loading thymeleaf html');
			let userProfile1 = localStorage.getItem('userProfile1');
			let userProfileJson = JSON.parse(userProfile1);
			document.getElementById("uname").innerHTML +=  userProfileJson.username;
			console.log('Loading thymeleaf html:: '+userProfileJson.username);
		};

		function authLogout() {
			let logoutUrl = "[[${@environment.getProperty('server.servlet.context-path')}]]/ofds/api/auth/logout";
			let loginUrl = "[[${@environment.getProperty('server.servlet.context-path')}]]/ofds";
			$.ajax({
				type : 'DELETE',
				url : logoutUrl,
				success : function(response) {
					console.log("Logout Success");
					// similar behavior as an HTTP redirect
					window.location.replace(loginUrl);
				}
			});
		}

	</script>
</head>

<body>
	<!-- Main Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	    <a class="navbar-brand" th:href="@{/}">Gurukul</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
	            aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	
	    <div class="collapse navbar-collapse" id="navbar">
	        <ul class="navbar-nav ml-auto">
	            <li class="nav-item active">
	                <a class="nav-link" th:href="@{/}">Home</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" id="manageEval" th:href="@{/pariksha/evaluations}">Manage Evaluations</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" id="manageExam" th:href="@{/pariksha/exams}">Exams</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" id="manageCert" th:href="@{/pariksha/certificates}">Certificates</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" th:href="@{/contact}">Contact Us</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" th:href="@{/about}">About Us</a>
	            </li>
				<li class="dropdown nav-item" id="GlobalSettingsMenu" ng-controller="LoginCtrl">
					<a href12="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false" id="navbarDropdown"><span id="uname"></span><em class="fa fa-cog"></em></a>
					<ul class="dropdown-menu" align="left">
						<li><a class="dropdown-item" >My Profile</a>
						<li><a class="dropdown-item" >Change Password</a>
						<li role="separator" class="divider"></li>
						<li><a class="dropdown-item" onclick="return authLogout()">Logout</a>
					</ul>
				</li>
	        </ul>
	    </div>
	</nav>
	
	<!-- Content Section -->
	<section layout:fragment="content">
	    <p>This is filled by the content template.</p>
	</section>
	
	<!-- Footer -->
	<footer class="container py-5">
	    <div class="row">
	        <div class="col-md-12">
	            <p class="text-muted">&copy; 2022 Business Name. All rights reserved.</p>
	        </div>
	    </div>
	</footer>
	
	<!-- Optional Section -->
	<th:block layout:fragment="optional" />
</body>

</html>
