<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

	<link rel="stylesheet" type="text/css"  th:href="@{/webjars/global-config/css/layout.css}" />
	<link rel="stylesheet" type="text/css"  th:href="@{/webjars/global-config/css/jquery.dialogbox.css}" />

	<script type="text/javascript" th:src="@{/webjars/global-config/js/jquery-3.2.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/global-config/js/app.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/global-config/js/jquery.dialogBox.js}" ></script>
</head>
<body>

<div>
	<!-- Header / Main Navigation -->
	<div id="header">
		<link rel="stylesheet" type="text/css"  th:href="@{/webjars/global-config/css/header.css}" />
		<div id="header">
			<a id="logo" th:href="@{/gconfig}"><img
				th:src="@{/webjars/global-config/images/logo.png}" height="50" width="50" /></a>
			<div id="rightSide">
				<p id="welcome">Welcome To App Config Page: ${userPrincipal}</p>
			</div>
		</div>
		<div id="color_line"></div>

	    <div id="timeoutDialog"></div>
	    <div id="alertDialog"></div>
	    <div id="confirrmDialog"></div>
	</div>	<!-- end of header -->

	<!-- Menu Section -->
	<div id="menu">
		<div id="leftmenu">

			<link rel="stylesheet" type="text/css"  th:href="@{/webjars/global-config/css/menu.css}" />
			<div class="menu" hidden="true">
				<ul class="nav">
					<p class="menuSection">Request Status</p>
					<p>Requester Details:-</p>
					<p>User Name : ${loggedInUser.firstName} ${loggedInUser.lastName}</p>
					<p>Signum : ${loggedInUser.signum}</p>
					<p>Cost Center : ${userdata.costcentre}</p>
					<p>Approver : ${userdata.reportingmanager}</p>
			</div>

			<div class="menu" id="menuMessages">
				<ul class="nav">
					<p class="menuSection">Messages</p>
					<th:block th:each="entry : ${messageResources}" th:with="messageResourceLocale=${entry.value}">
						<p>
							<!--<a th:attr="onclick=|loadMessagePage('${entry.key}')|" >[[${entry.key}]]</a>-->
							<a th:href="@{/gconfig/languages(messageType=${entry.key})}" th:text="${entry.key}" th:id="${entry.key}"></a>
						</p>
					</th:block>
			</div>

			<div class="menu">
				<ul class="nav">
					<p class="menuSection">Env Properties</p>
					<th:block th:each="configName : ${configNames}" >
						<p>
							<!--<a onclick="return loadPage('/config/${configName}')">${configName}</a>-->
							<a th:href="@{/gconfig/config/{configName}(configName=${configName})}" th:text="${configName}" ></a>
						</p>
					</th:block>
				</ul>
			</div>
		
			<div class="menu">
				<ul class="nav">
					<p class="menuSection" id="menuSectionSystemConfig">System Config</p>
					<p><a onclick="return getSystemStatus('/system/status')"><s>system status</s></a></p>
					<p><a th:href="@{/gconfig/system/properties}" >System Properties</a></p>
					<p><a th:href="@{/gconfig/system/beans}" >System Beans</a></p>
					<p><a th:href="@{/gconfig/logs/form}" >Change Log Level</a></p>
					<p><a th:href="@{/gconfig/logs/view}" >View / Download Logs</a></p>
			</div>
		</div>
	</div> <!-- End of Menu Section -->


<!-- Content Section -->
	<div id="content">
		<section layout:fragment="content">
		    <p>This is filled by the content template.</p>
		</section>
	</div>

<!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <p class="text-muted">&copy; 2020 Business Name. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- Optional Section -->
<th:block layout:fragment="optional" />

</body>
</html>
