<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{gconfig/html/gconfig_layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
		<link rel="stylesheet" type="text/css"  th:href="@{/webjars/global-config/css/table.css}" />
		
		<script type="text/javascript">
		    $('#iaasForm1').submit(function(e) {
		        e.preventDefault();
		        doSearch();
		    });
		    $(function() {
		        //selectCheckBox();
		        $('#messages').css('display', 'none');
		    });
		</script>
		
		
		<div style="border: 0px">
			<br> <label><b><span th:utext="${messageType}">( message Type ) </span> Messages</b></label>
			<table class="table" align="center">
		        <tr>
		            <td>Select Language</td>
		            <td><select id="selectLanguage" onchange="loadMessages()">
		                    <option value="-1">--Select Language--</option>
		                    <option th:each="language: ${languages}" var="languageBean" th:value="${language.locale}" th:text="${language.name}" items="${languages}"></option>
		            </select></td>
		            <br>
		        </tr>
		        <input type="hidden" id="messageType" name="messageType" th:value="${messageType}" />
		    </table>
		</div><br>
		
		<div id="messages">
			<label><b></b></label>
		
			<table class="table" border="0px"><thead>
				<tr>
					<td></td>
					<td><b>Key</b></td>
					<td><b>Value</b></td>
					<td><b>Action</b></td>
				</tr></thead><tbody id="mtbody">
		
		        <tr id="new">
		            <td>NEW</td>
		            <td><input id="key0" type="text"
		                value="${entry.key}" /></td>
		            <td><textarea id="textArea0" cols="70">${entry.value}</textarea></td>
		            <td><input type="button" onclick="saveMessage(0, 'create')" value="CREATE"></td>
		        </tr></tbody>
			</table>
		</div>
    </section>
</div>

</body>
</html>
