<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{gconfig/html/gconfig_layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
		<link rel="stylesheet" type="text/css"  th:href="@{/webjars/global-config/css/table.css}" />

		<div id="messages"><br>
			<label>&nbsp;&nbsp;&nbsp;<b>System Properties</b></label>

			<table class="table" border="0px" cellpadding="10"><thead>
				<tr>
					<td>#</td>
					<td><b>Key</b></td>
					<td><b>Value</b></td>
				</tr></thead><tbody>

                <tr th:each="entry : ${items}">
						<td th:text="${entryStat.index+1}"></td>
						<td th:text="${entry.key}" >[[${entry.key}]]</td>
						<td th:text="${entry.value}" ></td>
				</tr></tbody>
			</table>
		</div>
    </section>
</div>

</body>
</html>
