<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout :: layout(~{::title}, ~{::section})"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      >
<head>
    <title>Pariksha: Evaluations</title>
</head>
<body>
<div layout:fragment="content">
    <script>

		function startEvaluation(evaluationID) {
			var url = '../exams/start-eval?evalId='+evaluationID+'&testRun=true';
			//url =formatURL(url);
			windowName = 'startEvaluation';
			var params = 'height='+screen.height + ', width='+screen.width+',';
			params += 'fullscreen=yes';
			params += ', location=no';
			params += ', menubar=no';
			params += ', resizable=no';
			params += ', scrollbars=no';
			console.log("Params: "+params);
			var thePopup = window.open(url, windowName, params);
			//openPopup(url, windowName, params)
			//openPopupOnTop(url, height, width);
			/* var IE  = (document.all) ? 1 : 0;
				if(IE) {
					var thePopup = window.open( url, windowName, params );
				} else {
					openPopupOnTop(url, height, width);
				} */
		}

	</script>
    <section>
        <div th:switch="${items}" class="container my-5">
            <p class="my-5">
                <a th:href="@{/pariksha/evaluations/add}" class="btn btn-primary" id="addEval"><i class="fas fa-user-plus ml-2"> Add Evaluation</i></a>
            </p>
            <div class="col-md-10">
                <h2 th:case="null">No exams yet!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
						<thead th:replace="/pariksha/fragments/tables.html
						              :: fields(~{ :: .myFields})">
							<tr class="myFields">
								<th>Name</th>
								<th>Eval Group</th>
                                <th>Eval Env</th>
                                <th>Test</th>
                                <th>Edit</th>
                                <th>Hide</th>
                                <th>Delete</th>
							</tr>
						</thead>
                        <tbody>
                            <tr th:each="item : ${items}">
                                <td th:id="${item.id}" th:text="${item.name}"></td>
                                <td th:id="'evalGroup_' + ${item.id}" th:text="${item.evalGroup}"></td>
                                <td th:id="'evalEnv_' + ${item.id}" th:text="${item.evalEnv}"></td>
                                <td th:id="'startEval_' + ${item.id}" ><a th:onclick="startEvaluation([[${item.id}]])" class="btn btn-primary"><i class="fa fa-fighter-jet ml-2"></i></a></td>
                                <td th:id="'editEvalTd_' + ${item.id}" ><a th:id="'editAction_' + ${item.id}" th:href="@{/pariksha/evaluations/edit/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:id="'hideAction_' + ${item.id}" th:href="@{/pariksha/evaluations/disable?id={id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                <td><a th:id="'deleteAction_' + ${item.id}" th:href="@{/pariksha/evaluations/delete/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table class="table table-striped table-responsive-md" hidden="true">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Eval Group</th>
                                <th>Eval Version</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.evalGroup}"></td>
                                <td th:text="${item.evalEnv}"></td>
                                <td><a th:href="@{/items/edit/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/items/delete/{id}(id=${item.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
